body {
    margin:0;
    padding: auto;
    background-color: #000000;
    }
    table {
    border-collapse:collapse; 
    font-size:12px;
    border: 1px solid #ce9ecc;
    margin-bottom:20px;}
    th {
    font-family: 'Caveat', cursive;
    padding:10px; 
    font-size:16px;
    color:#ffffff;
    border: 1px solid #ce9ecc}
    td {
    font-family: 'Ubuntu', sans-serif; 
    padding:5px 10px;
    border: 1px dashed #ce9ecc;
    color:#ffffff;}
    caption {
    font-family: 'Lobster', cursive;
    font-size:24px;
    padding:10px; 
    color:#f8ac56;
     }
    .first {
    font-size:14px;
    font-weight:bold;
    text-align:center;
    }
    .name {
    font-family: 'Lobster', cursive; 
    font-size:16px;
    color:#ffffff; 
    text-align:center;
    }