    table {
    border-collapse:collapse; 
    font-size:12px;
    border: 1px solid #313a59;
    margin-bottom:20px;}
    th {
    font-family: 'Lobster', cursive;
    padding:10px; 
    font-size:16px;
    color:#34495e;
    border: 1px solid #2b3861;}
    td {
    font-family: 'Ubuntu', sans-serif; 
    padding:5px 10px;
    border: 1px dashed #313c61;
    color:#34495e;}
    caption {
    font-family: 'Lobster', cursive;
    font-size:24px;
    padding:10px; 
    color:#f37543;
     }
    .first {
    font-size:14px;
    font-weight:bold;
    text-align:center;
    }
    .name {
    font-family: 'Lobster', cursive; 
    font-size:16px;
    color:#6d311b; 
    text-align:center;
    }