h1 {
    color: rgb(0, 0, 0);
}
#basketball {
    font-size: xx-large; 
    color: #A52A2A;
}
#volleyball {
    font-size: xx-large;
    color: #242454;
}
#read {
    font-size: xx-large; 
    color: #953e3e;
}
#dances {
    font-size: xx-large; 
    color: #9d138a;
}
#imggg {
    text-align: left;
    margin-left: 200px;
    width: 250px;
}
